body {
  padding-top: 56px;
}

th a, th a:hover {
  color: #000;
}

.dynatable-page-link {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff !important;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
}

input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

input, select {
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

select {
    word-wrap: normal;
}

.dynatable-page-link:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.dynatable-pagination-links span, .dynatable-pagination-links li {
    margin: 0 5px 0 0;
}

.dynatable-per-page, .dynatable-record-count {
    float: left;
}

.dynatable-per-page-label {
    margin: 0 10px;
}

.cities, .countries, .states {
    width: 100%;
}
